
.container {
  padding-top: 20px;
}

@media (min-width: 992px) {
  .container {
    padding-top: 20px;
  }
}

.img{
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px ;
  border: none;
}

img{
  padding: 0;
  border: none;
}
