/* .welcome_image {
  margin: 20px 0;
  width: 70%;
  min-width: 300px;
  max-width: 700px;
  border-radius: 20px;
}

app-boxes{
  align-content: center;
  text-align: center;
}

.row{
  margin-bottom: 15px;
}


@media only screen and (max-width: 992px) {
  .row {
    margin-bottom: -15px;
  }
} */

.welcome{
  background: url("../../../assets/img/welcome_image_new2.jpg") no-repeat top;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.info{
  background: url("../../../assets/img/montauk-yacht-club-info.png") no-repeat top;
  height: 100%;
  width: 100%;
  background-size: cover;
}
