







<div mnFullpage>
    
    <div class="section welcome-section fp-section fp-table">
       
      <div class="fp-tableCell welcome">
          <nav class="navbar navbar-toggleable-sm navbar-inverse bg-dark">
              <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                      <a class="nav-item nav-link" routerLink="/bridal-party">Bridal Party</a>
                      <a class="nav-item nav-link" routerLink="/gallery">Gallery</a>
                      <a class="nav-item nav-link" routerLink="/accommodations">Accommodations</a>
                      <a class="nav-item nav-link" routerLink="/registry">Registry</a>
                      <a class="nav-item nav-link disabled" routerLink="/rsvp">RSVP</a>
                  </div>
              </div>
          </nav>
      </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
      <div class="fp-tableCell info "></div>
    </div>
</div>
