body, html{
  width: 100%;
  height: 100%;
}

.welcome{
  background: url("../../../assets/img/welcome_image_info.jpg") no-repeat top;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.info{
  background: url("../../../assets/img/montauk-yacht-club-info-mobile.png") no-repeat top;
  height: 100%;
  width: 100%;
  background-size: cover;
  
}

@media (min-width: 1366px ) {
  .info{
    background: url("../../../assets/img/montauk-yacht-club-info-desktop.png") no-repeat top;
    background-size: cover;
    height: 100%;
    width: 100%;


  }
}

.navbar-toggler-icon {
  background-image: url("../../../assets/Hamburger_icon.svg.png");
}