
<!--<img class="welcome_image " src="/assets/images/welcome_image.JPG">-->
<!--<app-countdown></app-countdown>-->


<nav id="kennedy-nav">

  <ul>
    <li><h1><a routerLink="/bridal-party">Guests of Honor</a></h1></li>
    <li><h1><a routerLink="/accommodations">Accommodations</a></h1></li>
    <li><h1><a routerLink="/rsvp">RSVP</a></h1></li>
    <li><h1><a routerLink="/gallery">Gallery</a></h1></li>
    <li ><h1><a routerLink="/registry">Registry</a></h1></li>

  </ul>

</nav>
<br>
<br>
<br>
<br>
<div class="bgimg">
  <div class="topleft">

  </div>
  <div class="middle">
      <img src="../../../assets/images/welcome_image_logo.jpg">
  </div>

  <h1> Where:</h1>
  <div class="bgimg">
    <div class="topleft">

    </div>
    <div class="middle">
      <img src="../../../assets/images/montauk-yacht-club.jpg">
    </div>





<!-- Page Content -->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<app-location class="col-md-8 col-md-offset-2"></app-location>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<app-boxes class="col-md-4" [destinationName]="'Meet the Bridal Party'" [destinationAddress]="'/bridal-party'"></app-boxes>-->
    <!--<app-boxes class="col-md-4" [destinationName]="'Accommodations'" [destinationAddress]="'/accommodations'"></app-boxes>-->
    <!--<app-boxes class="col-md-4" [destinationAddress]="'/rsvp'" [destinationName]="'RSVP'"></app-boxes>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<app-boxes class="col-md-4 col-md-offset-2" [destinationName]="'Gallery'" [destinationAddress]="'/gallery'"></app-boxes>-->
   <!--<app-boxes class="col-md-4" [destinationName]="'Registry'" [destinationAddress]="'/registry'"></app-boxes>-->
  <!--</div>-->
<!--</div>-->
