.details {
  background-image:url("/assets/img/montauk-yacht-club-info-mobile.png");
  height:100vh;
  background-size:cover;
  background-position:top;
  background-repeat:no-repeat;
  
}

@media (min-width:1366px) {
  .details {
    background-image:url("/assets/img/montauk-yacht-club-info-desktop.png");
    height:100vh;
    background-size:cover;
    background-position:top;
    background-repeat:no-repeat;
    
  }
}

.welcome {
  background-image:url("/assets/img/welcome_image_info.jpg");
  background-size:cover;
  height:100vh;
  background-position:center;
  background-repeat:no-repeat;
}