<div [mnFullpage]="options">
    <div class="section welcome-section fp-section fp-table">
      <div class="fp-tableCell welcome">
        <ul class="navigation">
        <li><a routerLink="/bridal-party">Bridal Party</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/accommodations">Accommodations</a></li>
        <li><a routerLink="/registry">Registry</a></li>
        <li><a routerLink="/rsvp">RSVP</a></li>
        </ul>
      </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
      <div class="fp-tableCell info"></div>
    </div>
</div>

<!--<ul class="navigation">-->
  <!--<li><a routerLink="/bridal-party">Bridal Party</a></li>-->
  <!--<li><a routerLink="/gallery">Gallery</a></li>-->
  <!--<li><a routerLink="/accommodations">Accommodations</a></li>-->
  <!--<li><a routerLink="/registry">Registry</a></li>-->
  <!--<li><a routerLink="/rsvp">RSVP</a></li>-->
<!--</ul>-->

<!--<div class="welcome">-->

<!--</div>-->
  <!--<div class="info"></div>-->

