
.detail_subheader{
  text-decoration: underline;
  text-align: left;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 36px;
  padding-left: 10px;


}

.info{
  text-align: left;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 30px;
  padding-left: 30px;
}

.portfolio-item {
  border: solid 2px white;
  border-radius: 20px;
  margin: auto;
}


@media only screen and (max-width: 992px) {
  .portfolio-item {
    border: solid 2px white;
    max-width: 90%;
    border-radius: 20px;
    margin: auto;
  }
}
