<ul class="navigation">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/bridal-party">Bridal Party</a></li>
  <li><a routerLink="/gallery">Gallery</a></li>
  <li><a routerLink="/accommodations">Accommodations</a></li>
  <li><a routerLink="/rsvp">RSVP</a></li>
</ul>
<br>

<h5>The links below are all the places we are currently registered at. <br> This list will continue to grow as we get closer to the wedding. Thank you!</h5>

<h3>
  <a href="https://www.amazon.com/wedding/share/kennedymerrittwedding">Amazon</a>
</h3>
<h3>
  <a href="https://www.anthropologie.com/registry/listing?registryId=YWFMYZBJM2RL">Anthropologie</a>
</h3>
