<app-navbar></app-navbar>
<br>
<p class="text-center">This page is under construction</p>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="https://www.myregistry.com/giftlist/kennedymerrittwedding">
        <img src="/assets/img/together.jpg">
      </a>
      <h3>
        <a href="https://www.myregistry.com/giftlist/kennedymerrittwedding">MyRegistry.com</a>
      </h3>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="https://www.amazon.com/wedding/share/kennedymerrittwedding">
        <img src="/assets/img/amazonlogo-ig.jpg">
      </a>
      <h3>
        <a href="https://www.amazon.com/wedding/share/kennedymerrittwedding">Amazon</a>
      </h3>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="https://www.anthropologie.com/registry/listing?registryId=YWFMYZBJM2RL">
        <img src="/assets/img/anthropologie.jpg">
      </a>
      <h3>
        <a href="https://www.anthropologie.com/registry/listing?registryId=YWFMYZBJM2RL">Anthropologie</a>
      </h3>
    </div>
    <div class="col-lg-4 col-md-6">
      <a href="https://www.potterybarn.com/registry/cmvl7ts92t/registry-list.html">
        <img src="/assets/img/potterybarn.png">
      </a>
      <h3>
        <a href="https://www.potterybarn.com/registry/cmvl7ts92t/registry-list.html">Pottery Barn</a>
      </h3>
    </div>
  </div>
</div>
