<div class="row">
  <div class="col">
      <h1 class="text-center">{{name}}</h1>
      <img src="{{photoUrl}}" class="img-fluid" />
      <br />
      <button *ngIf="phone" (click)="handlePhoneClick()" class="btn btn-dark" type="button">{{phone}}</button>    
      <button *ngIf="website" (click)="handleWebClick()" class="btn btn-dark" type="button">Visit Their Website</button>      
      <button *ngIf="address" (click)="handleMapClick()" class="btn btn-dark" type="button">Show Map</button>
      <br />
      <p class="text-center d-inline-block">{{aboutParagraph}}</p>
      <br />
      <p *ngIf="blocked" class="text-center d-inline-block "><em>* We have rooms blocked here *</em></p>
  </div>
</div>