<app-navbar></app-navbar>
<br>
<p>Montauk is a beautiful resort area with many wonderful places to stay!</p>
<div class="container">
    <app-accommodation-info *ngFor="let accommodation of accommodations" 
    [name]="accommodation.name" 
    [address]="accommodation.address"
    [phone]="accommodation.phone"
    [aboutParagraph]="accommodation.aboutParagraph" 
    [photoUrl]="accommodation.photoUrl"
    [website]="accommodation.website"
    [blocked]="accommodation.blocked"></app-accommodation-info>
</div>
<p>Keep in mind that many Montauk hotels have a 2 night minimum, however, you can definitely find hotels that do not! Please feel free to do your own research outside of our suggestions so that you can find accommodations that are perfect for you, as there are so many options!</p>