h1, h2, h3 {
  font-family: 'Pacifico', cursive;

}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 100px;
  width: 100px;
}

p {
  width: 40%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 125%;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #aaaaaa;
}

/*.active {*/
/*background-color: #4CAF50;*/
/*}*/

@media (max-width: 620px) {
  li{
    font-size: 75%;
  }
  li a{
    padding: 5px 8px;

  }

}
