.text-center {
  text-align:center!important;
}

.img-fluid {
  width:200px;
  height:200px;
}

.col {
  text-align:center !important;
}

p.text-center {
  width:70%;
  display:inline-block;
}

@media (max-width: 992px) {
  p.text-center {
    width:95%;
    display:inline-block;
  }
}