.text-center {
  text-align:center!important;
}

.image-cropper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
}

.col {
  text-align:center !important;
}

p.text-center {
  width:70%;
  display:inline-block;
}

@media (max-width: 992px) {
  p.text-center {
    width:95%;
    display:inline-block;
  }
}
