.center-block{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 0;
  margin-right: 15px;
}

.col-xs-12 {
  align-content: center;
  text-align: center;
}
.name {
  width: 100%;
  display: flex;
}

.about{
  font-size: medium;
}


p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;

}

@media only screen and (max-width: 992px) {
  .name{
    display: block;
  }
}

