/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}
@font-face {
  font-family: Material+Icons;
  src: url(https://fonts.googleapis.com/css?family=Material+Icons);
}

body, *{
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: #0b254f;
  color: white;
  text-align: center;
}

html, body{
  height: 100%;
  margin: 0;
}

.navbar {
  padding: 0;
  
}
.navbar-toggler{
  margin-top: 5px;
  margin-left: -10px;
}

.navbar-toggler-icon {
  background-image: url("assets/Hamburger_icon.svg.png");
}